[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
utm = "*"
simplekml = "*"
scipy = "*"
matplotlib = "*"
georaster = "*"
pygdal = "==2.2.3.6"

[requires]
python_version = "3.6"
